flows (3).json
[{"id":"fba9a99f.dfffb8","type":"inject","z":"9caee810.5492e8","name":"Retardo","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["8b8bd51c.101238"]]},{"id":"8b8bd51c.101238","type":"function","z":"9caee810.5492e8","name":"Numeros","func":"\nrandomicos=parseInt(Math.random()*100);\nmsg.topic=\"Random1\";\nmsg.payload=randomicos;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[["fa7de07e.dc05","6331c000.04449","c096812a.643a6"]]},{"id":"fa7de07e.dc05","type":"ui_gauge","z":"9caee810.5492e8","name":"","group":"4c7b698d.1cad88","order":2,"width":0,"height":0,"gtype":"gage","title":"equipo de calibracion #1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#cccc28","#7c2222"],"seg1":"","seg2":"","x":650,"y":120,"wires":[]},{"id":"f18991b4.81b13","type":"ui_slider","z":"9caee810.5492e8","name":"","label":"Deslizador # 1","tooltip":"","group":"4c7b698d.1cad88","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":340,"y":200,"wires":[["fa7de07e.dc05"]]},{"id":"e4db7061.691eb","type":"ui_numeric","z":"9caee810.5492e8","d":true,"name":"","label":"para escoger un numero","tooltip":"","group":"c8dcedd6.ddafa","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":370,"y":160,"wires":[["fa7de07e.dc05"]]},{"id":"c0577608.2f87b8","type":"ui_text_input","z":"9caee810.5492e8","name":"","label":"Ingrese Aqui su texto","tooltip":"","group":"4c7b698d.1cad88","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":120,"y":180,"wires":[[]]},{"id":"52b67d.eb145984","type":"ui_button","z":"9caee810.5492e8","name":"","group":"4c7b698d.1cad88","order":1,"width":"2","height":"1","passthru":false,"label":"🚹","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":80,"wires":[[]]},{"id":"c85dd41c.eede58","type":"ui_button","z":"9caee810.5492e8","name":"","group":"4c7b698d.1cad88","order":6,"width":"2","height":"1","passthru":false,"label":"🚺","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":80,"wires":[[]]},{"id":"cfae5b59.3c9938","type":"ui_button","z":"9caee810.5492e8","name":"","group":"4c7b698d.1cad88","order":8,"width":"1","height":"1","passthru":false,"label":"🚘","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":410,"y":80,"wires":[[]]},{"id":"c096812a.643a6","type":"ui_slider","z":"9caee810.5492e8","name":"","label":"deslizador # 2","tooltip":"","group":"c8dcedd6.ddafa","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"2","x":360,"y":340,"wires":[["6331c000.04449","3a5656a2.a16fda","891f55de.c1b218","8eaeb242.2572f"]]},{"id":"6aed285.edbe2d8","type":"ui_slider","z":"9caee810.5492e8","name":"","label":"deslizador # 3","tooltip":"","group":"c8dcedd6.ddafa","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"2","x":370,"y":380,"wires":[["6331c000.04449","3a5656a2.a16fda","891f55de.c1b218","8eaeb242.2572f"]]},{"id":"701a1220.6161ac","type":"ui_slider","z":"9caee810.5492e8","name":"","label":"deslizador # 4","tooltip":"","group":"c8dcedd6.ddafa","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"2","x":360,"y":420,"wires":[["6331c000.04449","3a5656a2.a16fda","891f55de.c1b218","8eaeb242.2572f"]]},{"id":"6331c000.04449","type":"ui_gauge","z":"9caee810.5492e8","name":"","group":"c8dcedd6.ddafa","order":4,"width":0,"height":0,"gtype":"donut","title":"equipo de calibracion # 2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":200,"wires":[]},{"id":"3e760e2d.f27912","type":"ui_colour_picker","z":"9caee810.5492e8","name":"","label":"Escoger un color ","group":"c8dcedd6.ddafa","format":"hex8","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":5,"width":"6","height":"8","passthru":true,"topic":"","x":310,"y":280,"wires":[[]]},{"id":"891f55de.c1b218","type":"ui_chart","z":"9caee810.5492e8","name":"","group":"e6788303.cac2a","order":0,"width":"6","height":"3","label":"valores # 3","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0779ca","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#8f0f0f","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":540,"wires":[[]]},{"id":"8eaeb242.2572f","type":"ui_chart","z":"9caee810.5492e8","name":"","group":"e6788303.cac2a","order":2,"width":0,"height":0,"label":"Valores # 2","chartType":"pie","legend":"true","xformat":"auto","interpolate":"cubic","nodata":"","dot":false,"ymin":"1","ymax":"10","removeOlder":"199","removeOlderPoints":"","removeOlderUnit":"604800","cutout":"2","useOneColor":false,"useUTC":false,"colors":["#1e608f","#061b37","#19a94b","#2ca02c","#98df8a","#712828","#ff0400","#9467bd","#67368c"],"useOldStyle":false,"outputs":1,"x":890,"y":360,"wires":[[]]},{"id":"3a5656a2.a16fda","type":"ui_chart","z":"9caee810.5492e8","name":"","group":"e6788303.cac2a","order":1,"width":"6","height":"5","label":"valores # 1","chartType":"line","legend":"true","xformat":"Y-M-D","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#114b74","#31588c","#ba6012","#2ca02c","#98df8a","#581313","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":440,"wires":[[]]},{"id":"ca23dc7b.ef786","type":"ui_button","z":"9caee810.5492e8","name":"","group":"4c7b698d.1cad88","order":7,"width":"1","height":"1","passthru":false,"label":"😁","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":540,"y":80,"wires":[[]]},{"id":"8868d9db.f9cd78","type":"function","z":"9caee810.5492e8","name":"","func":"\nrandomicos=parseInt(Math.random()*99);\nmsg.topic=\"Random1\";\nmsg.payload=randomicos;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":380,"wires":[["6aed285.edbe2d8","701a1220.6161ac"]]},{"id":"b3fe6f59.e9792","type":"ui_numeric","z":"9caee810.5492e8","name":"","label":"Escoger un numero","tooltip":"","group":"4c7b698d.1cad88","order":9,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":110,"y":440,"wires":[["5a253eb6.df4be"]]},{"id":"9258be90.48097","type":"ui_switch","z":"9caee810.5492e8","name":"","label":"switch on/off","tooltip":"","group":"4c7b698d.1cad88","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":500,"wires":[[]]},{"id":"5a253eb6.df4be","type":"ui_text","z":"9caee810.5492e8","group":"4c7b698d.1cad88","order":11,"width":0,"height":0,"name":"","label":"Muestra el valor escogido de un numero","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":460,"wires":[]},{"id":"6493db0d.c3fd54","type":"inject","z":"9caee810.5492e8","name":"Retado # 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":300,"wires":[["8868d9db.f9cd78"]]},{"id":"4c7b698d.1cad88","type":"ui_group","z":"","name":"Grupo#1","tab":"77ba1162.b2abb","order":1,"disp":true,"width":"7","collapse":true},{"id":"c8dcedd6.ddafa","type":"ui_group","z":"","name":"Grupo #2","tab":"77ba1162.b2abb","order":2,"disp":true,"width":"6","collapse":false},{"id":"e6788303.cac2a","type":"ui_group","z":"","name":"Grupo#3","tab":"77ba1162.b2abb","order":3,"disp":true,"width":"6","collapse":false},{"id":"77ba1162.b2abb","type":"ui_tab","z":"","name":"Arquitectura de computadoras Grupo#7","icon":"dashboard","order":1,"disabled":false,"hidden":false}]